$cyan-aqua-700: #03362b;
$cyan-aqua-600: #05453d;
$cyan-aqua-300: #0b6b66;
$cyan-aqua-100: #129c9c;
$cyan-aqua-70: #19ccd4;
$cyan-aqua-50: #1ff1ff;
$cyan-aqua-40: #5eeeff;
$cyan-aqua-40: #82e6ff;
$cyan-aqua-30: #a3e4ff;
$cyan-aqua-20: #ddf3ff;

$deep-cerulean-800: #002323;
$deep-cerulean-700: #002e31;
$deep-cerulean-500: #004855;
$deep-cerulean-400: #006580;
$deep-cerulean-200: #007da4;
$deep-cerulean-90: #3796b7;
$deep-cerulean-80: #61a5c6;
$deep-cerulean-60: #86b4d3;
$deep-cerulean-50: #adc9e2;
$deep-cerulean-20: #e0e9f3;

$persimmon-800: #3e060c;
$persimmon-700: #550e15;
$persimmon-500: #8b2329;
$persimmon-300: #c94142;
$persimmon-100: #ff5b57;
$persimmon-80: #ff807b;
$persimmon-60: #ffa197;
$persimmon-40: #ffbdaf;
$persimmon-30: #ffd6c9;
$persimmon-10: #fff0ea;

$stiletto-900: #230408;
$stiletto-800: #300b0d;
$stiletto-700: #511818;
$stiletto-500: #782a24;
$stiletto-400: #9a3a30;
$stiletto-100: #af655b;
$stiletto-80: #c08a7e;
$stiletto-60: #cea99c;
$stiletto-40: #dec7bc;
$stiletto-20: #f2e9e5;

$dull-lavender-700: #211f3b;
$dull-lavender-600: #332e4e;
$dull-lavender-300: #5e537d;
$dull-lavender-90: #907fb6;
$dull-lavender-60: #bba5e5;
$dull-lavender-50: #c9b8ea;
$dull-lavender-40: #d8c7ee;
$dull-lavender-30: #e2d4f2;
$dull-lavender-20: #ede2f6;
$dull-lavender-10: #f7f4fb;
